html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none !important;
}
.canvas * {
  pointer-events: none !important;
}

.canvasPost {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw !important;
  height: 100vh !important;
}
.canvasPost canvas {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%!important;
  height: 100vh!important;
  background: black;
  opacity: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
  opacity: 0;
}

.image {
  display: inline-block;
  vertical-align: middle;
  margin: 30px;
  width: calc(33.333% - 60px);
  aspect-ratio: 4/3;
  aspect-ratio: var(--aspectRatio);
}

@media (max-width: 768px) {
  .image {
    width: calc(50% - 60px);
  }
}
